.alert-danger{
    color: red;
  }
  ion-item {
    border: solid 1px lightgray;
    border-radius: 10px;
    margin-bottom: 10px;
}
.ion-text{
  text-align: center;
}
.ion-button-login{
  width: 33%;
  margin-left: 32%;
}
.ion-button-register{
  width: 44%;
  margin-left: 26%;
}