 <ion-header>
    <ion-toolbar color="awPrimary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title slot="start">
        Help
      </ion-title>

    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="container">
      <div><img src="../../../assets/images/Questions.png"></div>
      <div class="help-container">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-icon name="contact"></ion-icon>  Contact Person:
            </ion-col>
            <ion-col>
              Priyanaka Upadhye
            </ion-col>
          </ion-row>
          <ion-row>



          </ion-row>
          <ion-row>
            <ion-col>
              <ion-icon name="Mail"></ion-icon> Contact Email:
            </ion-col>
            <ion-col>
              Admin@mail.com
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-icon name="call"></ion-icon> Contact Number:
            </ion-col>

            <ion-col>
              +4917665211145
            </ion-col>

          </ion-row>
        </ion-grid>
      </div>

    
    </div >
  </ion-content>
  <ion-footer>
    <ion-button expand="block" (click)="CallHelpLine()">Help</ion-button>
</ion-footer>